# Data
data/raw/
*.csv
*.zip

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.egg

# Environments
.env
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Models
models/*.joblib
models/*.h5
models/*.bin

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Local context / notes
context.md
